---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="bg-neutral-900 text-white">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	    <div class="border-4 m-4 border-white">
    		<Header />
    		<main class="px-8 py-16 grid gap-16">
    		    <div class="text-center">
    		        <h1 class="text-[min(12vw+3rem)] leading-[min(10vw+3rem)]">Michele <span class="ml-[max(10vw+1rem)]">Memoli</span></h1>
    			</div>
    			<div class="mx-auto max-w-3xl grid gap-2">
    			    <p class="text-3xl font-bold tracking-tighter text-balance">Founder, UX Leader, Creative Technologist</p>
    				<p>I talk Code, UX &amp; Founder-life.</p>
    			</div>
    		</main>
    		<Footer />
		</div>
	</body>
</html>
