---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Prose from '../components/Prose.astro';
import Banner from '../components/Banner.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, lead, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
	    <div class="border-4 m-4 border-black">
	        <Header />
		<main class="px-8 py-16 grid gap-16">
		    <Banner heading={title} lead={lead} />

			<article class="p-8 md:p-12">
				<Prose>
				    <slot />
				</Prose>
			</article>
		</main>
		<Footer />
	</body>
</html>
